@page "/"
@inject IJSRuntime JSRuntime

<PageTitle>Index</PageTitle>

<h1>Gantt Chart Hyper Library - Blazor Server App</h1>

<p role="status">Number of tasks added: @currentCount</p>

<div id="ganttChartView" style="margin: 10px 0; width: 800px; height: 350px;" />

<button class="btn btn-primary" @onclick="IncrementCount">New task</button>

@code {
    protected async override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
            await JSRuntime.InvokeVoidAsync("interop.initialize");
    }

    private int currentCount = 0;

    private async void IncrementCount()
    {
        currentCount++;
        await JSRuntime.InvokeVoidAsync("interop.addItem", new { content = "New item " + currentCount });
    }
}

